# Python Cache & Compiled Files
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
.venv/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# IDE Configuration
.vscode/
.idea/

# Project-Specific Data, Logs, and Outputs
comparison_logs/
comparison_output/
filter_output/
legacy/
single_logs/
single_output/
*.xlsx
*.png
data/data_check_fina/Companies 50-500 DE AT 21.csv
data/data_check_fina/Finanzierung (1).csv
data/data_check_fina/Company DACH 15-100 MA Apollo 80k 1(in).csv
data/data_check_fina/company DACH 101-5000 MA Apollo(in) (1).csv
data/data_check_fina/KMU 200-1000 DE Apollo(in).csv

data/

ops_output/

